<html>
    <head>
        <title>
            Nova Hospital
        </title>
    </head>
    <body background="{{ pic[0] }}" style="background-repeat: no-repeat;background-attachment: fixed;background-size: 100% 100%;" >
        <table width="100%" style="border: 1px solid black;">
            <td ><img src="{{ pic[1] }}" width="200 px" height="125 px"/></td>
            <td style="vertical-align: middle;text-align: center;"><div style="font-size: 65px;color:blue">NOVA Hospital Management System</div></td>
        </table>
        <br>
        <center><b><div style="font-size: 25px">
            "One of the deep secrets of life is that all that is really worth doing is what we do for others."
        </div></b></center>
        <div width="100%" style="text-align:center;font-size: 75px;color:#3305A3">Welcome All<br>We are here for your healthcare...
        <br>
        <br>
        <form action="/appointment" method="post">
            <input type="submit"  value="Book Appointment" style = "font-size: 20px;width: 200px; height: 50px; border-radius: 8px; color: aliceblue; background-color: #060692 "; />
        </form>
        <form action="/viewappointment" method="post">
            <input type="submit"  value="View Appointment" style = "font-size: 20px;width: 200px; height: 50px; border-radius: 8px; color: aliceblue; background-color: #060692 "; />
        </form>     
        </body>
</html>